@import '~reset-css';
@import '~antd/dist/antd.css';
@import './layouts/chat';

body {
    background-color: #f4f7fd;
}

body, 
html, 
#root, 
.wrapper{
    height: 100%;
    color: #202020;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
* {
    outline: none;
}
.anticon {
    color: #202020 !important;
    opacity: 0.4;
  
    &:hover {
      opacity: 1;
    }
  
    &:after {
      display: none;
    }
  }