.dialog {
    &__item {
        $item: &;
        display: flex;
        margin-bottom: 20px;

        &-avatar {
            position: relative;
            flex: 0 0 42px;
            width: 42px;
            height: 42px;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &--online {
            #{$item}-avatar {
                &::before {
                    position: absolute;
                    display: block;
                    border-radius: 30px;
                    content: '';
                    background-color: #00CB81;
                    border: 2px solid #fff;
                    width: 12px;
                    height: 12px;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            &-top {
                display: flex;
                b {
                    font-weight: 500;
                    font-size: 14px;
                    flex: 1;
                    margin-bottom: 7px;
                }
                span {
                    opacity: 0.5;
                }
            }
            &-bottom {
                position: relative;
                p {
                    opacity: 0.5;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 1.2em;
                    width: 220px;
                    white-space: nowrap;
                }
                &-count {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #7E6CD0;
                    width: 18px;
                    height: 18px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 17px;
                    text-align: center;
                    box-shadow: 0 0 0px 3px #fff;
                    border-radius: 50%;
                }
                .message__icon-read {
                    bottom: 0;
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}