.chat {
    display: flex;
    height: 100%;
    background-color: #fff;
    width: 1040px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

    &__sidebar {
        width: 320px;
        border-right: 1px solid #f1f1f1;
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            height: 55px;
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 20px;

            .anticon {
                position: relative;
                left: 5px;
                font-size: 20px;
            }

            & > div {
                .icon {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
        &-search {
            padding: 0 20px 20px 20px;
            .ant-input{
                background-color: #f1f1f1;
                &:focus, &:hover {
                    box-shadow: none;
                    border-color: #b2a9df;
                  }
                &-affix-wrapper {
                    background-color: #f1f1f1;
                }
            }
        }
        &-dialogs {
            height: calc(100% - 135px);
            .dialog {
                height: 100%;
                overflow: auto;
                &__item {
                    padding: 10px 20px;
                    margin-bottom: 0;
                    cursor: pointer;

                    &.active, &:hover {
                        background-color: #f7f3ff;
                    }
                }
            }
        }

    }
    &__dialog {
        flex: 1;
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 11px;
            height: 55px;
            border-bottom: 1px solid #f1f1f1;

            &-center {
                text-align: center;
                .status {
                    color: #bfbfbf;
                }
            }

            &-action {
                position: absolute;
                right: 20px;
                top: 12px;
                transform: rotate(90deg);
            }

            &-username {
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
            }
            .anticon {
                font-size: 22px;
            }
        }
        &-messages {
            padding: 20px;
            overflow: auto;
            height: calc(100% - 56px);
        }
    }
}