.message {
    $self: &;
    &__content {
        display: flex;
        max-width: 440px;
        margin-bottom: 20px;
        position: relative;
    }
    
    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 34px;
            height: 34px;
            margin-right: 14px;
            margin-bottom: 23px;
        }
    }

    &__attachment {
        display: flex;
        margin-bottom: 5px;
        img {
            width: 150px;
            height: 150px;
            border-radius: 13px;
        }
    }

    &__bubble {
        background: #7F6ED4;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 13px 13px 13px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }
    &__date {
        font-size: 12px;
        opacity: 0.5;
    }
    &__text {
        color: #ffffff;
        line-height: 18px;
    }

    &__icon-read {
        position: absolute;
        bottom: 22px;
        left: -25px;
    }
    &--no {
        left: -20px;
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;

        #{ $self }__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{ $self }__avatar {
            img {
                margin-right: 0;
                margin-left: 14px;
            }
        }

        #{ $self }__info {
            text-align: right;
        }

        #{ $self }__bubble {
            background: #fff;
            border: 1px solid #ECECEC;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
            border-radius: 12px 12px 0px 12px;
            #{ $self }__text {
                color: #000000;
            }
        }
    }
    &__typing {
        span {
            height: 7px;
            width: 7px;
            margin: 0 1px;
            background-color: #c1c1c1;
            display: inline-block;
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 50%;
            opacity: 0.4;
            @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
            }
            }
        }

        @keyframes blink {
        50% {
            opacity: 1;
        }
        }

        @keyframes bulge {
        50% {
            transform: scale(1.05);
        }
        }
    }
}